@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

body {
  color: white;
  background-image: url("../public/background.png");
  background-attachment: fixed;
  background-color: #000000; 
}
